body{
    background: linear-gradient(to right,#466a7e, #190a3b);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
#score{
    font-size: 7rem;
    -webkit-text-stroke: 5px white;
    font-family: cursive;
}
button{
    border: none;
    background: none;
    cursor: pointer;
    -webkit-text-stroke: 3px white;
}
.fBig{
    font-size: 4rem;
}


@media (min-width: 576px) {
 .fBig{
    font-size: 8rem;
 }   
}
